html, body{
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
/*	font-family: 'IBM Plex Mono', monospace;
*/	color: white;

}

.skrollr-container{
	z-index: 5;
	position: fixed;
	width: 100vw;
	height:100vh;
	overflow:hidden;
}

.back {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
	width: 100vw;
	height: 100vh;
	background-color: black;
}



.marker:nth-child(odd) {
	background-color: #999999;
}

.marker:nth-child(even) {
	background-color: #777777;
}


#helper{
	/*display:none;*/
	position:absolute;
	left:0;
	top:0;
	height:1000%;
	width:2%;
	opacity: 0;
}

.marker{
	width:100%; /* 100% of helper */
	height:10%;
	font-family: arial;
	font-weight: bold;
}

.small-container {
	position: relative;
	width: 25%;
	height: 25%;
	margin: auto;
	float: left;
	top: 0;
	overflow: hidden;
	background-color: black;
	margin: 0;
}

.content-container {
	box-sizing: content-box;
	padding-top: 28vh;
	position: relative;
	margin: auto;
	background-color: black;
}


.blue {
	color: #4286f4;
}

.yellow {
	color: #ffee38;
}

.pink {
	color: #cc1e44;
}


.orangeBG {
	/*background-color: #ff6d3d;*/
}

.blueBG {
	/*background-color: #4286f4;*/
}

.yellowBG {
	/*background-color: #ffee38;*/
}

.pinkBG {
	/*background-color: #cc1e44;*/
}


h1 {
	display: block;
	font-size: 50vh;
/*	padding-top: 70%;*/	
	margin-top: 0;
/*	position: absolute;
*/	top: 0;
	left: 0;
/*	margin-top: 100%;*/
	line-height: 1em;
}

h2 {
	display: block;
	font-size: 100vh;
/*	margin-left: -80%;*/
	margin-top: 0;
/*	position: absolute;
*/	top: 0;
	left: 0;
/*	margin-top: 100%;*/
	line-height: 1em;
}

h3 {
	font-size: 150vh;
	margin-top: 0;
/*	position: absolute;
*/	top: 0;
	left: 0;
/*	margin-top: 100%;*/
	line-height: 1em;
	transform: translateX(-20vw);
}

h4 {
	margin-top: 0;
/*	position: absolute;
*/	top: 0;
	left: 0;
/*	margin-top: 100%;
*/	font-size: 200vh;
	line-height: 1em;
	transform: translateX(-50vw);
}

.space {
/*	position: absolute;*/
	width: 100%;
	height: 5%;
	background-color: red;
}

